body {
  font-family: Golos-bold;
  font-weight: 500;
}
.contain {
  width: 1345px;
  margin: 0 auto;
}
.header-nav {
  background: #f8f8f9;
  height: 40px;
  gap: 280px;
  padding-top: 10px;
  align-items: center;
}
.right-menu ul {
  gap: 20px;
}
.left-menu-list {
  color: #6c7178;
}
.header-nav ul li a {
  margin-top: 20px;
  font-size: 12px;
  font-family: Golos-regular;
  font-weight: 400;
  color: #6c7178;
}
.header-nav ul li a:hover {
  color: #37383a;
}
.language:hover {
  color: #272727;
}
.language {
  background: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  font-family: Golos-regular;
  font-weight: 400;
  color: #6c7178;
  cursor: pointer;
}
.logo-nav h1 {
  width: 155px;
  height: 200px;
  margin-left: 20px;
  color: #d92e15;
}
.logo-nav span {
  color: #223869;
}
.main-nav {
  padding: 20px 10px;
  gap: 20px;
}
.katalog {
  padding: 12px 16px;
  border-radius: 14px;
  gap: 8px;
  font-family: Golos-regular;
  font-weight: 400;
  color: #fff;
  background: #d92e15;
}
.katalog span {
  color: #fff;
  text-transform: capitalize;
  font-family: Golos-regular;
  font-weight: 400;
  font-size: 14px;
}
.btn-search {
  border-radius: 12px;
  background: #d92e15;
  padding: 12px 22px;
  color: #fff;
  font-family: Golos-regular;
  font-weight: 400;
  font-size: 20px;
}
.search-input {
  width: 420px;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  padding: 14px 24px;
}
.search-input::placeholder {
  font-family: Golos-regular;
  font-weight: 400;
  font-size: 14px;
}
.user-item {
  gap: 20px;
}
.balanced i {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}
.balanced span {
  font-family: Golos-regular;
  font-size: 14px;
  font-weight: 400;
}
.carousel-inner img {
  width: 100%;
}
.items-group {
  gap: 14px;
  font-family: Golos-regular;
  font-size: 13.5px;
  font-weight: 400;
}
.items-group li a {
  color: #6c7178;
  font-family: Golos-regular;
  font-size: 13.5px;
  font-weight: 400;
  text-transform: capitalize;
}
.aksiya a {
  background: url(../images/svg/aksiya.svg) no-repeat 100%;
  width: 100%;
  background-position: center;
  border-radius: 100px;
  padding: 5px 10px;
  color: #fff !important;
}
.visual {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
  background: #d92e15;
}
.category-title {
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 20px;
  justify-content: space-between;
}
.category-title h2 {
  font-family: Golos-bold;
  font-size: 22px;
  font-weight: 500;
  color: #000;
}
.category-title p a {
  font-family: Golos-demibold;
  font-size: 14px;
  font-weight: 500;
  color: #6c7178;
}
.categories {
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.category-items {
  align-items: center;
  gap: 20px;
  padding: 15px 15px;
  border-radius: 15px;
  border: 1px solid #e8e8e8;
}
.category-items span {
  font-family: Golos-regular;
  font-size: 16px;
  font-weight: 400;
  color: #37383a;
  text-transform: capitalize;
}
.category-items i {
  background: #fdf2f1;
  border-radius: 10px;
  padding: 15px;
}
.artel-company {
  width: 100%;
  padding: 0 10px;
}
.artel-company h2 {
  font-size: 24px;
  font-family: Golos-bold;
  font-weight: 500;
  color: #000;
}
.maishiy-texnika {
  gap: 20px;
}
.maishiy-texnika span {
  font-family: Golos-regular;
  font-size: 14px;
  font-weight: 400;
  color: #37383a;
  border-radius: 14px;
  background: #e1e1e1a9;
  padding: 7px 14px;
  margin-bottom: 20px;
  cursor: pointer;
}
.tv-cards {
  gap: 50px;
  flex-wrap: wrap;
  padding: 0 20px;
}
.tv-cards del {
  font-family: Golos-regular;
  font-size: 12px;
  font-weight: 400;
  color: #6c7178;
}
.televizor {
  background: #000 !important;
  color: #fff !important;
}
.card-tv h4 {
  font-size: 15px;
  font-family: Golos-bold;
  font-weight: 500;
  color: #272727;
}

.tv-zavod {
  color: #ffffff;
  width: 110px;
  background: #0e7e2e;
  border-radius: 6px;
  padding: 4px 12px;
  color: #fff;
  font-family: Golos-regular;
  font-size: 12px;
  font-weight: 400;
}
.oylik {
  border: 2px solid #868686;
  border-radius: 10px;
  padding: 4px 12px;
  color: #6c7178;
  font-family: Golos-regular;
  font-size: 13px;
  font-weight: 400;
}
.tv-origin {
  width: 170px;
  height: 200px;
}
.stars {
  width: 100px;
  height: 100px;
}
.fa-wallet {
  font-size: 10px;
  color: #d92e15;
}
.bonus {
  font-size: 12px;
  color: #6c7178;
  font-family: Golos-regular;
  font-weight: 400;
}
.card-tv p {
  font-size: 14px;
  color: #6c7178;
  font-family: Golos-regular;
  font-weight: 400;
  margin-top: 10px;
}
.shop {
  background: #d92e15;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.like,
.taroz {
  background: #e8e8e8;
  cursor: pointer;
  margin-left: 10px;
  color: #747373;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}
.yangiliklar {
  padding: 0 10px;
  margin-bottom: 40px;
}
.yangiliklar h2 {
  font-size: 24px;
  font-family: Golos-bold;
  font-weight: 500;
  color: #000;
  margin-top: 40px;
  margin-bottom: 20px;
}
.card-tv {
  position: relative;
}
.yurak i {
  position: absolute;
  right: 0px;
  top: -0px;
}
.yangi {
  width: 55px;
  background: #e6044c;
  border-radius: 6px;
  padding: 4px 12px;
  color: #fff;
  font-family: Golos-regular;
  font-size: 12px;
  font-weight: 400;
}
.xit {
  width: 80px;
  background: #e6046d;
  border-radius: 6px;
  padding: 4px 12px;
  color: #fff;
  font-family: Golos-regular;
  font-size: 12px;
  font-weight: 400;
}
.btn-danger {
  color: #fff;
  font-size: 14px;
  font-family: Golos-demibold;
  font-weight: 500;
  width: 100%;
  background: #d92e15;
}
.hafta-takliflari {
  width: 100%;
  padding: 0 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.hafta-takliflari h2 {
  font-size: 24px;
  font-family: Golos-bold;
  font-weight: 500;
  color: #000;
  margin-top: 40px;
  margin-bottom: 20px;
}
.notebooks {
  width: 100%;
  padding: 0 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.notebooks h2 {
  font-size: 24px;
  font-family: Golos-bold;
  font-weight: 500;
  color: #000;
  margin-top: 40px;
  margin-bottom: 20px;
}
.brends {
  width: 100%;
  padding: 0 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 50px;
}
.brends span {
  border: 1px solid #f3f2f2;
  padding: 15px 25px;
  border-radius: 20px;
  cursor: pointer;
}
.nega-aynan {
  width: 100%;
  padding: 0 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.afzalliklar {
  gap: 30px;
  margin-bottom: 40px;
}
.card-afzal img {
  background: #fdf2f1;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card-afzal {
  border: 1px solid #f3f2f2;
  border-radius: 15px;
  padding: 10px;
}
.card-afzal h4 {
  font-size: 16px;
  color: #272727;
  font-family: Golos-demibold;
  font-weight: 400;
}
.card-afzal p {
  font-size: 14px;
  font-family: Golos-regular;
  font-weight: 400;
  color: #868686;
  margin-top: 40px;
  margin-bottom: 40px;
}
.nega-aynan h2 {
  font-size: 24px;
  font-family: Golos-bold;
  font-weight: 500;
  color: #000;
  margin-top: 40px;
  margin-bottom: 40px;
}
.self-adds {
  gap: 250px;
  align-items: center;
  width: 100%;
  background: #f3f2f2;
  padding: 0 10px;
  margin-top: 100px;
}
.left-adds img {
  transform: translateY(-40px);
}
.right-adds h2 {
  font-size: 24px;
  color: #272727;
  font-family: Golos-bold;
  font-weight: 400;
}
.right-adds p {
  width: 300px;
  font-size: 14px;
  color: #868686;
  font-family: Golos-regular;
  font-weight: 400;
}
.magazin {
  gap: 20px;
  cursor: pointer;
}
.footer-item {
  background: #272727;
  width: 100%;
  gap: 60px;
  justify-content: space-around;
  padding: 60px 20px;
}
.footer-contact h2 {
  color: #fff;
  font-size: 24px;
  font-family: Golos-bold;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-contact p {
  width: 250px;
  color: #fff;
  font-size: 14px;
  font-family: Golos-regular;
  font-weight: 400;
}
.footer-contact span {
  color: #fff;
  font-size: 14px;
  font-family: Golos-regular;
  font-weight: 400;
}
.footer-contact span a {
  color: #fff;
  font-size: 14px;
  font-family: Golos-regular;
  font-weight: 400;
}
.tolov {
  width: 250px;
}
.tolov h4 {
  color: #fff;
  font-size: 14px;
  font-family: Golos-demibold;
  font-weight: 400;
  margin-bottom: 10px;
}
.tolov img {
  width: 100px;
  height: 50px;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  background: #222c3a;
}
.malumotlar h4 {
  color: #fff;
  font-size: 14px;
  font-family: Golos-demibold;
  font-weight: 400;
}
.malumotlar p{
  color: #6c7178;
  font-size: 12px;
  font-family: Golos-regular;
  font-weight: 400;
  cursor: pointer;
}
.malumotlar p:hover{
color: #fff;
}
.xizmatlar p:hover{
  color: #fff;
  }
  .mijozlar p:hover{
    color: #fff;
    }
.xizmatlar h4{
  color: #fff;
  font-size: 14px;
  font-family: Golos-demibold;
  font-weight: 400;
}
.xizmatlar p{
  color: #6c7178;
  font-size: 12px;
  font-family: Golos-regular;
  font-weight: 400;
  cursor: pointer;
}
.mijozlar h4{
  color: #fff;
  font-size: 14px;
  font-family: Golos-demibold;
  font-weight: 400;
}
.mijozlar p{
  color: #6c7178;
  font-size: 12px;
  font-family: Golos-regular;
  font-weight: 400;
  cursor: pointer;
}
.last-footer {
  background: #222c3a;
  color: #fff;
  height: 40px;
  align-items: center;
}
.last-footer h4{
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  font-family: Golos-demibold;
  font-weight: 400;
}
.last-footer span{
  padding: 5px;
  cursor: pointer;
}
